# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
vendor/

# IDE
.idea/
.vscode/
*.swp

# Env
.env
.env.local

# App runtime
tmp/
originals/
hls/

# Docker
docker-compose.override.yml

# OS
.DS_Store